<%= form_for_filterrific @filterrific do |f| %>
  <div class="product-filter row">
    <div class="col-md-4">
      <%= label_tag nil, Spree.t(:product_sku) %>
      <%= f.text_field :by_product_sku, class: 'form-control', required: false %>
    </div>
    <div class="col-md-4">
      <%= label_tag nil, Spree.t(:date_start) %>
      <%= f.text_field(:by_date_start, class: 'form-control js-datepicker', type: 'date', required: false) %>
    </div>
    <div class="col-md-4">
      <%= label_tag nil, Spree.t(:date_stop) %>
      <%= f.text_field(:by_date_stop, class: 'form-control js-datepicker', type: 'date', required: false) %>
    </div>        
  </div>
  <div class="form-actions">
    <%= button Spree.t(:search), 'search' %>
  </div>
<% end %>