<% content_for :page_title do %>
  <%= link_to Spree.t(:reports), spree.admin_reports_url %> /
  <%= Spree.t(:out_stock) %>
<% end %>

<div class="well">
  <%= render partial: 'spree/admin/reports/out_stock_report_criteria' %>
</div>

<table class="table table-bordered admin-report" data-hook="out_stock">
  <thead>
    <tr>
      <th><%= Spree.t(:product) %></th>
      <th><%= Spree.t(:sku) %></th>
      <th><%= Spree.t(:price_currency) %></th>
      <th><%= Spree.t(:variant_price) %></th>
      <th><%= Spree.t(:move_date) %></th>
      <th><%= Spree.t(:stock_location) %></th>
      <th><%= Spree.t(:quantity) %></th>
    </tr>
  </thead>
  <tbody>
    <% @stock_moves.each do |stock_move| %>
      <tr>
        <td><%= stock_move.stock_item.variant.product.name %></td>
        <td><%= stock_move.stock_item.variant.sku %></td>
        <td><%= stock_move.stock_item.variant.currency %></td>
        <td><%= stock_move.stock_item.variant.price %></td>
        <td><%= stock_move.created_at %></td>
        <td><%= stock_move.stock_item.stock_location.name %></td>
        <td><%= stock_move.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>